<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lycodeing.cert.web.mapper.RequestsLogMapper">

    <resultMap id="BaseResultMap" type="cn.lycodeing.cert.web.domain.RequestsLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="requestId" column="request_id" jdbcType="INTEGER"/>
            <result property="action" column="action" jdbcType="OTHER"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="actionTime" column="action_time" jdbcType="TIMESTAMP"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,request_id,action,
        address,action_time,message
    </sql>
</mapper>
