<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lycodeing.cert.web.mapper.TaskPostProcessorsMapper">

    <resultMap id="BaseResultMap" type="cn.lycodeing.cert.web.domain.RequestsPostProcessors">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="requestId" column="request_id" jdbcType="INTEGER"/>
            <result property="processorId" column="processor_id" jdbcType="INTEGER"/>
            <result property="parameters" column="parameters" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="output" column="output" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,request_id,processor_id,
        parameters,status,output
    </sql>
</mapper>
